<div class="main-body">
    <div class="friends-sections">
        <div class="friends-header">
            <h1>Your Friends</h1>
            <div class="friend-request">
                <i class="fa fa-user-plus"></i>
                <label>Friend Requests</label>
            </div>
        </div>
        <div class="friends-body">
            <div class="no-friends">
                <h2>No friends yet</h2>
                <label>Connect with language partners below to start conversation!</label>
            </div>
        </div>
    </div>
    <div class="new-friends-sections">
        <div class="friends-header">
            <h1>Connect with new People</h1>
            <label>Discover people based on your profile and enjoy!</label>
        </div>
        <div class="friends-body">
            @if (users != []) {
                @for (user of users; track $index) {
                    <div class="friend-card">
                        <div class="friend-card-header">
                            <img [src]="user.profilePic" alt="">
                            <label>{{ user.fullName }}</label>
                        </div>
                        <div class="friend-card-middle">
                            <div class="friend-card-language">
                                Language: {{ user.language }}
                            </div>
                            <div class="friend-card-joined-on">
                                Joined on: {{ user.joinedAt.split(" ")[0] }}
                            </div>
                        </div>
                        <div class="friend-card-bio">
                            {{ user.bio }}
                        </div>
                        <button (click)="sendRequest(user.id)" >
                            Send Friend Request
                        </button>
                    </div>
                }
            }
            @else {
                <div class="no-users">
                    <h2>No new users yet</h2>
                </div>
            }
        </div>
    </div>
</div>